* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 500px;
  background-color: rgb(204, 161, 243);
}

.content {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.logo {
  width: 300px;
  height: 150px;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

nav ul li a {
  color: rgb(70, 4, 87);
  text-decoration: none;
  transition: 0.2s ease;
}

nav ul li a:hover {
  color: rgb(255, 255, 255);
}

nav ul button {
  border: 1px solid rgb(70, 4, 87);
  background: transparent;
  padding: 8px 10px;
  cursor: pointer;
  margin-left: 30px;
  color: rgb(70, 4, 87);
  font-weight: bold;
  border-radius: 5px;
}

nav ul button:hover {
  transition: background 0.6s;
  background: #fff;
}

.content {
  gap: 30px;
}

.content .header-block {
  max-width: 1000px;
  min-width: 300px;
  height: 450px;
  background-color: rgb(255, 250, 199);
  border-radius: 8px;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  padding: 10px;
}

.header-block img {
  width: 33%;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

.header-block .text {
  position: absolute;
  bottom: 30%;
  left: 15%;
}

.header-block .text h2,
.header-block .text h3 {
  color: rgb(70, 4, 87);
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  transform: translateX(-20px);
  transition: transform 0.5s;
}

.header-block .text p {
  max-width: 280px;
  color: rgb(70, 4, 87);
  text-align: center;
  transform: translateX(-20px);
  transition: transform 0.5s;
}

section .catalog {
  width: 100vw;
  padding: 100px;
}

.title-wrapper-catalog h3 {
  color: rgb(70, 4, 87);
  margin-bottom: 20px;
  text-align: left;
  font-weight: bold;
}

.title-wrapper-catalog p {
  color: rgb(70, 4, 87);
  margin-bottom: 20px;
  text-align: left;
}

section .filter-card {
  width: 100%;
  max-width: 980px;
  height: auto;
  padding: 20px;
  background-color: rgb(251, 241, 255);
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search-input {
  width: 100%;
  max-width: 700px;
  height: 50px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 10px;
  color: rgb(70, 4, 87);
}

.search-input::placeholder {
  color: rgb(70, 4, 87);
}

.search-button {
  width: 150px;
  height: 50px;
  border-radius: 0 4px 4px 0;
  border: 2px solid rgb(228, 182, 240);
  background: transparent;
  color: rgb(204, 161, 243);
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.2s ease;
}
.search-button:hover {
  background: rgb(204, 161, 243);
  color: rgb(251, 241, 255);
}

.title-wrapper-catalog {
  margin-top: 200px;
  padding-bottom: 20px;
}

section .card-wrapper {
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  padding-top: 50px;
}

section .card-item {
  height: 400px;
  background: rgb(251, 241, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-content {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-item img {
  width: 85%;
  height: 70%;
  border-radius: 8px;
}

.card-item h3 {
  width: 85%;
  color: rgb(204, 161, 243);
  padding: 9px 0;
}

.card-item p {
  width: 85%;
  font-style: italic;
  color: rgb(159, 95, 219);
}

.card-item button {
  width: 90%;
  padding: 15px 0px;
  border: none;
  background: rgb(255, 250, 199);
  border-radius: 8px;
  color: rgb(159, 95, 219);
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 10px;
}

.card-item button:hover {
  background: rgb(159, 95, 219);
  color: rgb(255, 250, 199);
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
}

.about-content {
  max-width: 1000px;
  min-width: 300px;
  height: 300px;
  background-color: rgb(204, 161, 243);
  margin: 0 auto;
  border-radius: 8px;
  z-index: 10;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-wrapper-about p {
  color: rgb(70, 4, 87);
  text-align: left;
}

.title-wrapper-about h3 {
  color: rgb(70, 4, 87);
  margin-bottom: 20px;
  text-align: left;
  font-weight: bold;
}

.left img {
  width: 300px;
  min-width: 150px;
  height: 280px;
  border-radius: 15px;
}

.right {
  width: 100%;
  height: 150%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 90px 100px;
}

.right h3 {
  text-align: center;
  width: 90%;
  margin-bottom: 20px;
  color: rgb(255, 250, 199);
}

.right p {
  max-width: 90%;
  font-size: 1em;
  text-align: left;
  color: rgb(59, 5, 109);
}

.features {
  width: 100%;
  height: 100%;
  background: rgb(251, 241, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.title-wrapper-features {
  padding: 20px 0px;
}

.title-wrapper-features p {
  color: rgb(70, 4, 87);
  text-align: left;
}

.title-wrapper-features h3 {
  color: rgb(70, 4, 87);
  margin-bottom: 20px;
  text-align: left;
  font-weight: bold;
}

.feature-card-block {
  max-width: 1000px;
  min-width: 300px;
  height: 600px;
  background: rgb(246, 232, 252);
  margin: 0 auto;
  border-radius: 8px;
  z-index: 10;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 30px;
}

.feature-card-item {
  max-width: 420px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgb(251, 241, 255);
  border-radius: 4px;
}

.feature-text-content {
  max-width: 60%;
  margin: 5px;
}

.feature-card-item img {
  width: 64px;
  height: 64px;
}

.feature-card-item h3 {
  color: rgb(70, 4, 87);
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

.feature-card-item p {
  color: rgb(70, 4, 87);
  text-align: left;
}

footer {
  width: 100%;
  height: 250px;
}

footer .main {
  width: 100%;
  height: 200px;
  background: #d5caf9;
  padding: 20px 190px;
}

.content-footer-link {
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-company,
.footer-rental,
.footer-contact,
.footer-social {
  color: rgb(135, 9, 185);
  height: 100%;
  min-height: 100px;
}

.footer-company h4,
.footer-rental h4,
.footer-contact h4,
.footer-social h4 {
  color: rgb(252, 250, 229);
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links {
  margin-bottom: 8px;
}

.main .footer-social img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.main .footer-contact iframe {
  width: 100px;
  height: 90px;
  border-radius: 8px;
}

footer .last {
  width: 100%;
  height: 50px;
  background: linear-gradient(
    45deg,
    rgb(255, 250, 199) 0%,
    rgb(204, 161, 243) 100%
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 950px) {
  nav ul li {
    display: none;
  }

  .about {
    margin-top: 100px;
  }

  .title-wrapper-about {
    margin-bottom: 20px;
  }

  .about-content {
    flex-direction: column;
    height: 100%;
  }

  .left {
    display: none;
  }

  .right {
    width: 100%;
    padding: 20px;
    align-items: center;
    text-align: left;
  }
  .right p {
    width: 100%;
    margin: 0;
    text-align: left;
  }

  .features {
    height: 100%;
  }

  .feature-card-block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  footer {
    height: 100%;
  }

  footer .main {
    height: 100%;
  }

  .content-footer-link {
    flex-direction: column;
    padding-right: 7rem;
  }
}

@media (max-width: 576px) {
  .header-block img {
    width: 60%;
    position: absolute;
    right: 16px;
    top: 30%;
  }

  .header-block .text {
    position: absolute;
    bottom: 59%;
  }

  section .filter-card {
    flex-direction: column;
  }

  .search-input,
  .search-button {
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
  }

  .search-button {
    font-size: 1rem;
  }
}
